<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.wms.mapper.OrderBillItemMapper">
    <resultMap id="BaseResultMap" type="OrderBillItem">
        <id column="id" property="id"/>
        <result column="cost_price" property="costPrice"/>
        <result column="number" property="number"/>
        <result column="amount" property="amount"/>
        <result column="remark" property="remark"/>
        <result column="bill_id" property="billId"/>
        <association property="product" javaType="Product" columnPrefix="p_">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
            <result column="brandName" property="brandName"/>
        </association>
    </resultMap>
    <delete id="deleteByBillId">
        DELETE FROM orderbillitem
        WHERE bill_id =#{billId}
    </delete>
    <insert id="insert" parameterType="cn.wolfcode.wms.domain.OrderBillItem" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `orderBillItem` (cost_price, number, amount, remark, product_id, bill_id)
        VALUES (#{costPrice}, #{number}, #{amount}, #{remark}, #{product.id}, #{billId})
    </insert>

    <select id="selectByBillId" resultMap="BaseResultMap">
        SELECT
            item.id,
            item.cost_price,
            item.number,
            item.amount,
            item.remark,
            item.bill_id,
            p.id p_id,
            p.name p_name,
            p.brand_name p_brandName
        FROM orderbillitem item
            JOIN product p
               ON p.id = item.product_id
        WHERE item.bill_id =#{billId}
    </select>
</mapper>