<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.wms.mapper.SaleaccountMapper" >
  <insert id="insert" parameterType="cn.wolfcode.wms.domain.Saleaccount" useGeneratedKeys="true" keyProperty="id" >
    insert into `saleaccount` (vdate, number, cost_price, cost_amount, sale_price, sale_amount, 
      product_id, saleman_id, client_id)
    values (#{vdate}, #{number}, #{costPrice}, #{costAmount}, #{salePrice}, #{saleAmount}, 
      #{productId}, #{salemanId}, #{clientId})
  </insert>
</mapper>